<tr name="issue">
  <td class="first" width="14"><img src="{{media_url}}closedtriangle.gif" 
    style="visibility: hidden;" width="12" height="9" /></td>
  <td width="34" align="left" style="white-space: nowrap">
{%if service.edit_allowed and not service.closed%}
<span class="issue-close" id="issue-close-{{issue.key.id}}">
    <a href="{%url intranet.views.rooms_delete%}?id={{room.key.id}}">
      <img src="{{media_url}}close.gif" title="Close This Issue" width="15"
      height="15" border="0"></a>
</span>
{%endif%}</td>
  <td>
    <div class="subject">
      <a class="noul" href="{%url intranet.views.services_edit%}?id={{service.key.id}}"
      id="issue-title-{{room.key.id}}">{{service.code}}</a>
      {%if service.closed %} (Closed) {%endif%}
    </div>
  </td>
  <td><div class="users">{{service.description}}</div></td>
  <td><div class="users">{{service.cost}}</div></td>
  <td class="last"><div class="date">{{service.modified|timesince}}</div></td>
</tr>
